<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" language="javascript">
        var RestaurantHeaders = ["Name", "Address", "Phone", "Image", "Capacity"];
    </script>

    <script type="text/javascript" language="javascript">
        function restaurants() {
//            hideAll();
////            $("#products").hide();
////            $("#cart").show();
            $.ajax({
                dataType: "json",
                url: "/SearchRestaurant",
                success: function (data) {
                    displayRestaurants(data, "restaurant");
                }
            });
        }
        function displayRestaurants(restaurant, name) {
            var out = "<h1>Restaurants</h1><table  class=\"table\">";
            var i;
            out += '<thead><tr>';
            for (i = 0; i < RestaurantHeaders.length; i++) {
                out += '<th>' + RestaurantHeaders[i] + '</th>';
            }
            out += "</tr></thead>";
            var total=0;
            for (i = 0; i < restaurant.restaurants.length; i++) {
                out += "<tbody><tr>";
                out += '<td style=\"display: none;\">' + restaurant.restaurants[i].restaurantname + '</td>';
                out += '<td>' + restaurant.restaurants[i].restaurantaddress + '</td>';
                out += '<td>' + restaurant.restaurants[i].restaurantphone + '</td>';
                out += '<td> <img src="';
                out += "./static_content/" + restaurant.restaurants[i].restaurantimage + '" style="width:104px;height:100px;">';
                out += '<td>' + restaurant.restaurants[i].restaurantcapacity + '</td>';
                out += "</tr></tbody>";
            }
            out += "</table>";
            out += "<br>";
            document.getElementById(name).innerHTML = out;
        }
//        function createBooking(restaurant_id){
//            window.location.href = "/booking?rid="+restaurant_id;
//        }
        </script>

</head>
<body onload="restaurants()">
    <div class="container">
        <h2><%= title %> Page</h2>
        <div class="table-responsive"> 
            <div id="restaurant"><h2>Let jQuery AJAX Change This Text</h2></div>
        </div>
    </div>
</body>
</html>